<a routerLink="/ciclo/cadastrar"> Novo Ciclo </a>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Data do Ciclo</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ciclo of ciclos">
            <td> 
                {{ ciclo._id }}
            </td>
            <td> 
                {{ ciclo.data | date: "MMMM - yyyy"}} 
            </td>
            <td>
                {{ ciclo.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}
            </td>
        </tr>
    </tbody>
</table>